{% extends 'base.html' %}

{% block content %}
<div class="well clearfix">
<div class="col-md-6 col-md-offset-3">

<h1>Are you sure you want to sign out of Knights of Climbalot{% if user.first_name %}, {{ user.first_name }}?{% else %}, {{ user.username }}?{% endif %}</h1>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <button class="btn btn-danger btn-raised pull-right" type="submit">Sign Out</button>
</form>
</div>
</div>
{% endblock content %}
