{% extends 'base.html' %}

{% block title %}
Knights of Climbalot
{% endblock title %}

{% block content %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    {% block jumbotron %}
    {% if user.is_authenticated %}
      {% if user.first_name %}
        <h1>Hey, {{ user.first_name }}</h1>
      {% else %}
        <h1>Hey!</h1>
        <p> Well, this is embarassing, but it seems that I don't actually know your name.</p>
      {% endif %}
    {% else %}
      <h1>Hey, folks!</h1>
    {% endif %}
    <h1>Welcome to Knights of Climbalot!</h1>
    <p>We will be entering our beta-test period soon.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    {% endblock jumbotron %}
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>We don't do fake Latin here at Knights of Climbalot. Fuck Lorem Ipsum. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>We don't do fake Latin here at Knights of Climbalot. Fuck Lorem Ipsum. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>We don't do fake Latin here at Knights of Climbalot. Fuck Lorem Ipsum.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Copyright Dustin Neighly, 2016. Released under GNU GPL v.3</p>
  </footer>
</div> <!-- /container -->

{% endblock content %}
