{% extends 'base.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}


{% block css_styles %}
{{ block.super }}
  <link rel='stylesheet' href="{% static 'css/bootstrap-datepicker3.css' %}">
{% endblock css_styles %}

{% block content %}
This is the session view template for {{monkey.name}}.
<div class='col-sm-6'>
<div class="well bs-component">
<form class='form-horizontal' action='' method='post'>
  {% csrf_token %}
  <fieldset>
  <div class='form-group'>
    <label class="col-sm-2 control-label">Session Date:</label>
    <br>
    <div class='col-sm-10'>{{ form.session_date | add_class:'form-control dateinput' }}</div>
  </div>
  <div class='form-group'>
    <label class='col-sm-2 control-label'>Gym:</label>
    <br>
    <div class='col-sm-10'>
    {{ form.gym | add_class:'form-control' }}
  </div>
  </div>
  <div class='form-group'>
    <label class='col-sm-2 control-label'>Extra Points:</label>
    <br>
    <div class='col-sm-10'>
    {{ form.extra_points | add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group'>
    <label class='col-sm-2 control-label'>Workout:</label>
    <br>
    {{ form.workout | attr:'type:checkbox'}}
    <label>Quest One:</label> {{ form.quest_one_id }}
    <label>Quest One Attempts:</label> {{form.quest_one_attempts}}
    <label>Quest Two:</label> {{ form.quest_two_id }}
    <label>Quest Two Attempts:</label> {{form.quest_two_attempts}}
    <label>Quest Three:</label> {{ form.quest_three_id }}
    <label>Quest Three Attempts:</label> {{form.quest_three_attempts}}
    <label>Current Session Exp:</label>{{form.session_exp}}
    <br>
    <br>
    {{ c_route_formset.as_table}}
  <button type='submit' class='btn btn-success'>Save</button>
</fieldset>
</form>
</div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script>
    $(document).ready(function(){
        $('.dateinput').datepicker({
          format: 'mm/dd/yyyy',
          todayBtn: 'linked',
          autoClose: true,
          todayHighlight: true,
        });
      })
  </script>
{% endblock javascript %}
