{% extends 'base.html' %}
{% load static from staticfiles %}
{% load widget_tweaks %}


{% block css_styles %}
{{ block.super }}
  <link rel='stylesheet' href="{% static 'css/bootstrap-datepicker3.css' %}">
{% endblock css_styles %}

{% block content %}
This is the session view template for {{monkey.name}}.
<div class='col-md-9'>
<div class="well bs-component">
<form class='form-inline' action='' method='post'>
  {% csrf_token %}
  <fieldset>
    <div class='form-group'>
    <label class='col-md-1'>Session Date:</label>
    <div class='col-md-3'>{{ form.session_date | add_class:'form-control dateinput' }}</div>
    <label class='col-md-1'>Gym:</label>
    <div class='col-md-3'>{{ form.gym | add_class:'form-control' }}</div>
    <label class='col-md-1'>Extra Points:</label>
    <div class='col-md-3'>{{ form.extra_points | add_class:'form-control' }}</div>
  </div>
  <div class='form-group'>
    <label class='col-md-1'>Workout:</label>
    <div class='col-md-3'>{{ form.workout | attr:'type:checkbox'}}</div>
  </div>
  <div class='form-group'>
    <label class='col-md-2'>Quest One:</label>
    <div class='col-md-10'>
      {{ form.quest_one_id | add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group'>
    <label class='col-md-2'>Quest One Attempts:</label>
    <div class='col-md-10'>
      {{form.quest_one_attempts | add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group'>
    <label class='col-md-2'>Quest Two:</label>
    <div class='col-md-10'>
      {{ form.quest_two_id | add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group'>
    <label class='col-md-2'>Quest Two Attempts:</label>
    <div class='col-md-10'>
      {{form.quest_two_attempts | add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group'>
    <label class='col-md-2'>Quest Three:</label>
    <div class='col-md-10'>
      {{ form.quest_three_id | add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group'>
    <label class='col-md-2'>Quest Three Attempts:</label>
    <div class='col-md-10'>
      {{form.quest_three_attempts | add_class:'form-control' }}
    </div>
  </div>
  <div class='form-group'>
    <label class='col-md-2'>Current Session Exp:</label>
    <div class='col-md-10'>
      {{form.session_exp | add_class:'form-control' }}
    </div>
  </div>
    <br>
    <br>
    {{ c_route_formset.as_table}}
  <button type='submit' class='btn btn-success'>Save</button>
</fieldset>
</form>
</div>
</div>
{% endblock content %}

{% block javascript %}
{{ block.super }}
  <script src="{% static 'js/bootstrap-datepicker.js' %}"></script>
  <script>
    $(document).ready(function(){
        $('.dateinput').datepicker({
          format: 'mm/dd/yyyy',
          todayBtn: 'linked',
          autoClose: true,
          todayHighlight: true,
        });
      })
  </script>
{% endblock javascript %}
